[Unit]
Description=Monitor voltages from MCP3008 and output to /tmp/MCP3008_v0
StartLimitBurst=5
StartLimitIntervalSec=10

[service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env php /usr/bin/server.php
